*{
    margin: 0;
    padding: 0;
}

#u12304_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 468px;
    height: 30px;
    background: inherit;
    background-color: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}
#u12304_div p {
     font-size: 13px;
    line-height: 27px;
    text-align: left;
    margin: 0px 10px;
}
#u12305_div {
    border-width: 0px;
    position: absolute;
    left: 149px;
    top: 0px;
    width: 160px;
    height: 30px;
    background: inherit;
    background-color: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
#u12305_div p {
    font-size: 13px;
    line-height: 28px;
    text-align: center;


}
#u12306_div{
    border-width: 0px;
    position: absolute;
    left: 376px;
    top: 0px;
    width: 69px;
    height: 30px;
    background: inherit;
    background-color: inherit;
    background-color: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;

}
#u12306_div p {
    font-size: 13px;
    line-height: 28px;
    text-align: right;


}
#u12307_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 29px;
    width: 468px;
    height: 50px;
    background: inherit;
    background-color: inherit;
    background-color: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}
#u12317_img {
    border-width: 0px;
    position: absolute;
    left: 13px;
    top: 8px;
    width: 30px;
    height: 30px;

}
#u12307_div p{
    line-height: 47px;
    text-align: center;
    font-size: 18px;

}
#u12312_div{
    border-width: 0px;
    position: absolute;
    left: 0;
    top: 78px;
    width: 468px;
    height: 560px;
    background: inherit;
    background-color: inherit;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;

}
.u12312{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 14px;
    width: 467px;
    height: 125px;
    background-color: white;
}
.u12312 p {
    font-size: 14px;
    color: #666666;
    position: absolute;
    left: 19px;
    top: 16px;


}
.u12313 p{
    font-size: 11px;
    position: absolute;
    top: 17px;
    left: 298px;

}
#u12314 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 30px;
    width: 217px;
    word-wrap: break-word;

}
#u12314 p{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #14B9D6;
}
#u12315{
    border-width: 0px;
    position: absolute;
    right: -157px;
    top: 49px;
    width: 239px;
    word-wrap: break-word;


}
#u12315 p{
    color: #009966
}

#u12316_div{
   position: absolute;
    left: 0px;
    top: 236px;
    width: 466px;
    height: 401px;
    background-color: white;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;


}
#u12316_div p {
    font-size: 12px;
    color: #999999;
    margin: 11px 22px;
    line-height: 17px;


}
#u12317{
    border-width: 0px;
    position: absolute;
    left: 24px;
    top: 356px;
    width: 443px;
    word-wrap: break-word;


}

#u12317 p {
    font-size: 12px;
    color: #999999;
}
#u12317 a {
    text-decoration: none;
    font-size: 12px;
    color: #169BD5;
}
#span111{
    display: block;
    float: left;
    margin: -17px 61px;

}
#u12318_div p {
    font-size: 12px;
    color: #999999;
    margin: 11px 22px;
    line-height: 17px;


}
#u12318_div{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 374px;
    width: 443px;
    word-wrap: break-word;

}
#u12641 {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 235px;
    width: 468px;
    height: 410px;

}
#u12641_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 468px;
    height: 400px;

}

#u12642{
    border-width: 0px;
    position: absolute;
    left: 19px;
    top: 254px;
    width: 417px;
    word-wrap: break-word;
}
#u12642 p{
    font-size: 13px;
    color: #999999;
}
#u12316{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 83px;
    width: 217px;
    word-wrap: break-word;
}

#u12316 p {
    font-size: 11px;
    color: #999999;

}
#u12642 {
    border-width: 0px;
    position: absolute;
    left: 72px;
    top: 280px;
    width: 417px;
    word-wrap: break-word;
}

#u12442_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}
#u12643 {
    border-width: 0px;
    position: absolute;
    left: 85px;
    top: 301px;
    width: 417px;
    word-wrap: break-word;

}
#u12443_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 5px;
}
#u12644{
    border-width: 0px;
    position: absolute;
    left: 212px;
    top: 280px;
    width: 417px;
    word-wrap: break-word;

}
#u12444_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#u12445_img{
    border-width: 0px;
    position: absolute;
    left: 260px;
    top: 301px;
    width: 95px;
    height: 5px;
}
#u12646 {
    border-width: 0px;
    position: absolute;
    left: 354px;
    top: 280px;
    width: 417px;
    word-wrap: break-word;
}
#u12446_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}
#u12647 {
    border-width: 0px;
    position: absolute;
    left: 56px;
    top: 337px;
    width: 84px;
    word-wrap: break-word;

}
#u12647 p{
    font-family: 'PingFang TC Bold', 'PingFang TC';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #199ED8;
    text-align: center;
}
#u12648 {
    border-width: 0px;
    position: absolute;
    left: 193px;
    top: 337px;
    width: 84px;
    word-wrap: break-word;

}
#u12648 p{
    font-family: 'PingFang TC Bold', 'PingFang TC';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #999999;
    text-align: center;
}
#u12649 {
    border-width: 0px;
    position: absolute;
    left: 336px;
    top: 337px;
    width: 84px;
    word-wrap: break-word;

}
#u12649 p{
    font-family: 'PingFang TC Bold', 'PingFang TC';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #999999;
    text-align: center;
}
#u12650 {
    border-width: 0px;
    position: absolute;
    left: 77px;
    top: 356px;
    width: 270px;
    word-wrap: break-word;


}
#u12650 span{
    font-size: 11px;
    color: #999999;
    text-align: center;

}
#span222{
    position: absolute;
    top: 5px;
    left: 131px;

}
#span333{
    position: absolute;
    top: 5px;
    left: 261px;
    width: 80px;

}
#u12651{
    border-width: 0px;
    position: absolute;
    left: 35px;
    top: 416px;
    width: 310px;
    word-wrap: break-word;


}
#u12651 ul {
    list-style: none;
}
#u12651 ul li {
    color: #999999;
    font-size: 13px;
    line-height: 30px;

}
#u12652 {
    border-width: 0px;
    position: absolute;
    left: 200px;
    top: 417px;
    width: 310px;
    word-wrap: break-word;

}
#u12652 p{
    color: #999999;
    font-size: 13px;
    line-height: 30px;

}
#u12653 {
    border-width: 0px;
    position: absolute;
    left: 129px;
    top: 570px;
    width: 200px;
    word-wrap: break-word;


}
#u12653 a{
    text-decoration: none;
    color: #169BD5;
    font-size: 13px;
}
#u14000{
    position: absolute;
    left: 17px;
    top: 251px;
    width: 139px;
    height: 30px;
    border: 1px solid;
}
#u14000 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14001{
    position: absolute;
    left: 157px;
    top: 251px;
    width: 139px;
    height: 30px;
    border: 1px solid;


}
#u14001 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14002{
    position: absolute;
    left: 297px;
    top: 251px;
    width: 139px;
    height: 30px;
    border: 1px solid;
    background: #CCCCCC;

}
#u14002 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14003{
    position: absolute;
    left: 17px;
    top: 282px;
    width: 139px;
    height: 30px;
    border: 1px solid;
}
#u14003 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14004{
    position: absolute;
    left: 157px;
    top: 282px;
    width: 139px;
    height: 30px;
    border: 1px solid;
}
#u14004 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14005{
    position: absolute;
    left: 297px;
    top: 282px;
    width: 139px;
    height: 30px;
    border: 1px solid;
    background: #CCCCCC;

}
#u14005 p{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}
#u14006 {
    border-width: 0px;
    position: absolute;
    left: 17px;
    top: 329px;
    width: 424px;
    word-wrap: break-word;



}
#u14006 p{
    font-size: 12px;
}
#u14007 {
    border-width: 0px;
    position: absolute;
    left: 18px;
    top: 358px;
    width: 424px;
    word-wrap: break-word;


}
#u14007 p {
    font-size: 12px;
    color: #999999;
}
#u14008 {
    border-width: 0px;
    position: absolute;
    left: 18px;
    top: 389px;
    width: 424px;
    word-wrap: break-word;


}
#u14008 p {
    font-size: 12px;
    color: #999999;
}
#u14009 {
    border-width: 0px;
    position: absolute;
    left: 121px;
    top: 427px;
    width: 424px;
    word-wrap: break-word;
}
#u14009 p{
    font-size: 13px;
    
}
#u14010 {
    border-width: 0px;
    position: absolute;
    left: 149px;
    top: 494px;
    width: 424px;
    word-wrap: break-word;

}