
/*zhangxm*/
span {
	display: inline-block;
}
p {
	margin: 0;
}

body {
	background-color: #f2f2f2;
}
.tops {
	padding-right: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.xm-inb {
	display: inline-block;
	width: 76%;
}
.xm-inbs{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.personal,.personals {
	background-color: #FFFFFF;
	padding-left: 1.5rem;
}
.personal {
	padding-top: 1.5rem;
	/*margin-bottom: 1.2rem;*/
	display: flex;
	align-items: center;
}
.dis_con {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.level {
	width: 1.1rem;
	height: 1.6rem;
	margin-right: 0.55rem;
}
.personal_none {
	margin:0.4rem 0;
	background-color: #FFFFFF;
}
img.company {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 8rem;
    margin-right: 1rem;
}

.xm-common {
	margin:0.55rem 0 0.5rem;
}
.gender {
	width:1.2rem;
	height:1.35rem;
	margin-right:0.55rem;
}
.xm-edit {
	color:#FFFFFF;
	border:1px solid #2873ff;
	padding: 0 1.5rem;
	background-color: rgba(40, 115, 255, 1);
	height:2rem;
	line-height:2rem;
	display: flex;
	align-items: center;
}
.keyword {
	padding: 1.5rem 0 0;
	background: #FFFFFF;
	margin-bottom: 1.2rem;
}
.label_tags {
	padding: 1.5rem 0 0;
	background: #FFFFFF;
	margin-bottom: 1.2rem;
	padding-left: 1.5rem;
}
.keywords,.xm-edit {
	border-radius: 2rem;
}
.keywords {
	color: #fd4d4d;
	height: 1.7rem;
	padding-left: 0.55rem;
	padding-right: 0.55rem;
	text-align: center;
	margin-bottom:0.7rem;
	line-height: 1.7rem;
	align-items: center;
}
.keyword-num {
	color:#2873ff;
}
.xm-sign {
	text-align: center;
	padding-top:1.3rem;
	padding-bottom: 1.5rem;
}
.xm-acting {
	width: 47%;
	margin-right: 1rem;
	background-color: #F5F5F5;
	padding: 1.5rem 0 1.6rem 0.45rem;
	display: flex;
	align-items: center;
}
.xm-acting-img {
	width:3.5rem;
	height:3.5rem;
	border-radius: 50%;
	float: left;
	margin-right:0.4rem;
}
.xm-b {
	margin-bottom:0.3rem;
}
.xm-btn {
	width:100%;
	position: fixed;
	left:0;
	bottom:0;
	display: flex;
	justify-content: space-around;
}
.xm-btn-invest,.xm-btn-agent {
	width:50%;
	height:5rem;
	color:#FFFFFF;
	text-align: center;
	line-height: 5rem;
}
.xm-btn-invest {
	background-color: #ffa300;
}
.xm-btn-agent {
	background-color: #2873ff;
}
.share-head {
	width:100%;
	height:9.8rem;
	line-height: 9.8rem;
	text-align: center;
}
.none {
	display: none;
}

/*经纪人详情相关*/
.badge {
	width:5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
	
}
.badge img {
	height: 100%;
	margin-bottom: 0.5rem;
	margin-left: 0.7rem;
}
.rank {
	color: #FFA300;
	float: right;
}
.rank img {
	margin-right: 0.5rem;
	height: 0.85rem;
	width: 1.2rem;
}
.personal_none>p {
	padding-left:1.5rem;
} 
.grade {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mrl1-5 {
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}
.tel{
	width:100%;
	height:5rem;
	color:#FFFFFF;
	text-align: center;
	line-height: 5rem;
	background-color: #2873ff;
}
.brand_wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.brand_name {
	width: 100%;
	overflow: hidden;
	height: 2rem;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}
#defind {
	background: #f2f2f2;
    margin-right: 0;
    text-align: center;
    height: 32rem;
    line-height: 32rem;
}

.scale-1{
  position: relative;
  margin-bottom: 1rem;
  border:none;
}
.scale-1:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  border: solid 1px rgba(253, 77, 77, 1);
  border-radius: 50px;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}
/*底部按钮样式*/
button{
	border:none;
	display: block;
}
.ordering,.order_fail,.order_success,.order_fail_no{
	position:fixed;
	left:0;
	bottom:0;
	z-index:9999;
	width:100%;
	height:4.9rem;
	display:flex;
	background-color:#fff;
	font-size: 1.5rem;
}
.btn-l,.btn-r{
	flex:1;
	/*width:50%;*/
}
.btn-l{
background-color:#fff;
color:#333;
}
.btn-r{
	background-color:#2873ff;
	color:#fff;
}
.none{
	display:none;
}
.order_fail,.order_success span{
	color:#999;
	background-color:#fff;
	justify-content: center;
	align-items: center;
}
.order_fail_no {
	color:#999;
	background-color:#fff;
	justify-content: center;
	align-items: center;
}
.order_success span{
	display:flex;
	width:100%;
	height:4.9rem;
	text-align: center;
}
.order_success span img{
	width:2.8rem;
	height:2.8rem;
}
