@charset "utf-8";

#header{
	border-top: 3px solid #67AD03;
	border-bottom: 1px solid #67AD03;
	width: 100%;
	height: 58px;
	line-height: 58px;
	margin-bottom: 30px;
	font-size: 20px;
}

.container-child{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}

#leftNav{
	border: 1px solid #67AD03;
	width: 220px;
	float: left;
}

#rightcon{
	border: 1px solid #67AD03;
	width: 860px;
	min-height: 400px;
	float: right;
	padding: 60px 20px;
}

.nav-ul{
	padding-left: 20px;
	background: #f3f3f3;
}

.nav-ul>li,.title-h2{
	border-bottom: 1px solid #67AD03;
	width: 100%;
	line-height: 42px;
	cursor: pointer;
}

.nav-ul>li.last-li{
	border: none;
}

.portal_arrow{
	width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #67AD03;
    display: inline-block;
    font-size: 1px;
    line-height: 0;
}

.nav-ul-child{
	padding-left: 18px;
	display: none;
}

.nav-ul-child a{
	display: block;
	color: #333;
}

.title-h2{
	padding-left: 20px;
	background: #f3f3f3;
	top: 0;
	left: 0;
	z-index: 1;
}

.title-h3{
	border-bottom: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	margin: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.p-pub-title{
	line-height: 26px;
	margin: 10px 0;
}

.div-down-con{
	border: 1px solid #999;
	padding: 15px;
	background: #ddd;
}

.color10{
	color: #2255AA;
}

.table-ck{
	border-width: 1px;
	width: 100%;
	border-collapse: collapse;
}

.table-ck tr>td{
	border-width: 1px;
	border-style: solid;
	line-height: 30px;
	padding: 4px 5px;
}