@charset "utf-8";

/*字体*/
.yahei{font-family:"\5FAE\8F6F\96C5\9ED1";}

.songti{font-family:"5B8B\4F53";}

.xsong{font-family:"\65B0\5B8B\4F53";}

.heiti{font-family:"\9ED1\4F53";}

/*字体颜色*/
.white{color:#fff;}

.black{color:#000;}

.dark{color:#666;}

.gray{color:#999;}

.red{color:#ff0000;}

.blue{color:#0000ff;}

.orange{color:#ff5500;}

/*背景色*/
.white-bg{background-color:#fff;}

.black-bg{background-color:#000;}

.dark-bg{background-color:#666;}

.gray-bg{background-color:#999;}

.red-bg{background-color:#ff0000;}

.blue-bg{background-color:#0000ff;}

.orange-bg{background-color:#ff5500;}