
 * {
    margin:0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    text-decoration: none;
}
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #c8c8c8;
 }

 ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #c8c8c8;
 }

 input:-ms-input-placeholder{
     color: #c8c8c8;
 }

 input::-webkit-input-placeholder,
 textarea::-webkit-input-placeholder {
     color: #c8c8c8;
 }
body{
    min-width: 320px;
    background-color: #f2f2f2;
    position: relative;
    max-width: 640px;
}
p{
    margin:0;
}
.header{
    background:url('../images/hongbao_02.png') no-repeat;
    background-size: 100% auto;
    width:100%;
    height:26.8rem;
}
.header_join{
    background:url('../images/hongbao_01.png') no-repeat;
    background-size: 100% auto;
    width:100%;
    height:26.8rem;
}
.register{
    color:#fff;
    font-family: inherit;
    font-size: 1.866666667rem;
    text-align: center;
}
.fw-b{
    font-weight: bolder;
}
.found{
    color:#999;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 23.2rem;
}
.found p{
    margin:0;
}
.invite{
    padding-top:2rem;
    background: #f2f2f2;
    margin-bottom:16.3667em;
}

.invite p{
    margin:1rem 2.5rem;
    height:4.4rem;
    line-height: 4.4rem;
    position: relative;
    background: #fff;
    border-radius: 0.3rem;
}
.invite input{
    width:100%;
    height:100%;
    border-radius: 0.3rem;
    border:none;
    padding-left:3.06667rem;
    font-size: 1.6rem;
    box-sizing: border-box;
}
.invite input[name='zonenumber']{
    background: url("../images/hd.png") no-repeat  0.833rem;
    background-size: 1.333rem auto;
}
.invite input[name='phonenumber']{
    background: url("../images/shouji.png") no-repeat  1.0667rem;
    background-size: 0.9rem auto;
}
.invite input[name='piccode']{
    background: url("../images/pic-code.png") no-repeat 0.7667rem;
    background-size: 1.53rem auto;
}
 .invite input[name='mescode']{
     background: url("../images/mes-code.png") no-repeat 0.8333rem;
     background-size: 1.333rem auto;
 }
 .invite input[name='nickname']{
     background: url("../images/zhanghu.png") no-repeat 0.8rem;
     background-size: 1.4rem auto;
 }
 .invite input[name='psd']{
     background: url("../images/pwd.png") no-repeat 0.9rem;
     background-size: 1.1667rem auto;
 }
.ident_code{
    display: inline-block;
    width:10rem;
    height:4.4rem;
    background: #8ec5e9;
    color:#fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 4.4rem;
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    position: absolute;
    top:0;right:0;
    cursor: default;
    border:none;
}
.btn-foot{
    background: #fe6d3c;
    width:100%;
    height:4.733rem;
    line-height: 4.733rem;
    opacity: 0.95;
    color: #fff;
    font-size: 1.6rem;
    position: fixed;
    z-index: 20;
    border: none;
    bottom:0;
    left:0;
    text-align:center;
}
.wjsq{
    margin:4.8rem 2.5rem 0;
    font-size: 1.6rem;
    color:#f63;
    font-weight: bold;
    text-align: center;
    height: 1px;
    background-color: #f63;
}
.wjsq span{
    padding:0  2.9rem;
    vertical-align: sub;
    position: relative;
    top:-1.322rem;
    background-color: #f2f2f2
}
/*.intro .wjsq>img{
    width:12.2rem;
    height:0.033rem;
    opacity: 0.5;
}*/
.intro_del{
    padding:2rem 0;
    font-size: 1.4rem;
    color: #999;
    text-align: center;
}
.intro img{
    width:100%;
    padding-left:1rem;
}
.cover{
    background: #000;
    opacity: 0.5;
    position: fixed;
    width:100%;
    height:100%;
    z-index: 100;
    top:0;left:0;
}
.prompt{
    width:27rem;
    height:18.1rem;
    background: #fff;
    border-radius: 0.6rem;
    position: fixed;
    top:17.667rem;left:50%;
    margin-left:-13.5rem;
    z-index: 101;
}
.prompt h3{
    height:5.3333rem;
    width:25rem;
    margin: auto;
    border-bottom: 0.0333rem solid #ddd;
    color:#333;
    font-size: 1.6rem;
    line-height: 5.333rem;
    text-align: center;
    font-family: inherit;
}
.prompt p{
    color: #333;
    font-size: 1.8rem;
    text-align: center;
    padding:2rem 0;
    margin:0;
}
.prompt div a{
    display: inline-block;
    width:12rem;
    height:4.333rem;
    font-size: 1.6rem;
    line-height: 4.333rem;
    text-align: center;
    border-radius: 0.6rem;
    margin-left:1rem;
}
.know{
    color:#1e8cd4;
    border:1px solid #1e8cd4;
}
.open{
    background: #1e8cd4;
    color:#fff;
}
/**´íÎóµ¯´°**/
.alert{  
    width:24rem;
    height:8rem;
    background: #000;
    border-radius: 0.6rem;
    position: fixed;
    /*bottom: 9.5rem;*/
    top:50%;left:50%;
    margin-left:-12rem;
    margin-top: -4rem;
    opacity: 0.8;
    z-index: 99;
}
.alert p{
    color:#fff;
    font-size: 1.8rem;
    line-height: 8rem;
    text-align: center;
    font-weight: bold;
}
.hide{
    display: none;
}

/**×¢²á³É¹¦ **/
.found span{
    color:#666;
    font-size: 1.6rem;
}
.hundred,.account{
    text-align: center;
    font-size: 1.6rem;
}
.hundred{
    color:#666;
    padding-top:3.5rem;
}
.hundred span{
    color:#f63;
    font-size: 3.2rem;
}
.account{
    color:#999;
    padding-top:2rem;
}


/*下载弹框**/
.module{
    background: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    z-index: 1001;
    position: fixed;
    left:0;top:0;
}