.mt05 {
	margin-top: 0.5rem;
}
.mt1 {
	margin-top: 1rem;
}
.mt1-5{
	margin-top: 1.5rem;
}
.mt2{
	margin-top:2rem;
}
.mt2-5{
	margin-top:2.5rem;
}
.mt3{
	margin-top:3rem;
}
.mt3-5{
	margin-top:3.5rem;
}
.mt4{
	margin-top:4rem;
}
.mt4-5{
	margin-top:4.5rem;
}
.mt5 {
	margin-top: 5rem;
}
.mt5-5 {
	margin-top: 5.5rem;
}
.mt6 {
	margin-top: 6rem;
}
.mt6-5 {
	margin-top: 6.5rem;
}
.mt7 {
	margin-top: 7rem;
}
.mt7-5 {
	margin-top: 7.5rem;
}
.mt8 {
	margin-top: 8rem;
}
.mt8-5 {
	margin-top: 8.5rem;
}
.mt9 {
	margin-top: 9rem;
}
.mt9-5 {
	margin-top: 9.5rem;
}
.mt10 {
	margin-top: 10rem;
}
.mt10-5 {
	margin-top: 10.5rem;
}
.mt11{
	margin-top: 11rem;
}
.mt11-5 {
	margin-top: 11.5rem;
}
.mt12{
	margin-top: 12rem;
}
.mt12-5 {
	margin-top: 12.5rem;
}
.mt13{
	margin-top: 13rem;
}
.mt13-5 {
	margin-top: 13.5rem;
}
.mt14{
	margin-top: 14rem;
}
.mt14-5 {
	margin-top: 14.5rem;
}
.mt15{
	margin-top:15rem;
}